PORT=5000
MONGODB_URI=mongodb+srv://palaganimani5_db_user:yhsRsI0y52eT0Y2R@cluster0.7q3uip6.mongodb.net/iot_db?appName=Cluster0
MONGODB_URI_FALLBACK=mongodb://127.0.0.1:27017/iot_db
MONGODB_COLLECTION=security_events
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=change_this_to_a_long_random_secret
EMAIL_USER=231fa04b36@gmail.com
EMAIL_PASS=app_password_from_env
# Use the Gmail app password without spaces
ADMIN_SEED_EMAIL=palaganimani5@gmail.com
ADMIN_SEED_PASSWORD=Mani@231fa04b36

